{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Restaurant dashboard</h1>
<div id="dashboard">
</div>
{% endblock %}

{% block scripts %}

<script id="dealsListTemplate" type="text/template">
<table class="deal-list-table">
</table>
</script>

<script id="dealsRowTemplate" type="text/template">
<td>title: <%= title  %></td><td>radius: <%= radius %></td>
</script>

<script id="dashIndexTemplate" type="text/template">
<div class="choices-buttons">
      <a href="#create">Create a deal</a>
      <a href="#view">View existing deals</a>
</div>
</script>

<script id="dealFormTemplate" type="text/template">
<h2>Launch a deal</h2>
<form action="" method="POST" id="deal-form">
  <table class="deal-form-table">
    <tr>
      <td>Title: </td>
      <td><input name="title" type="text" maxlength="40" size="40"></td>
    </tr>
    <tr>
      <td>Description: </td>
      <!-- inline css here for now -->
      <td><textarea name="desc" style="resize: none;" rows="10" cols="50" form="deal-form"></textarea></td>
    </tr>
    <tr>
      <td>Duration: </td>
      <td>
        <select name="hours" form="deal-form">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> hours
        <select name="minutes" form="deal-form">
          <option value="0">0</option>
          <option value="30">30</option>
        </select> minutes
      </td>
    </tr>
    <tr><td></td>
      <td><button class="deal-form-submit" type="submit">Launch now!</button></td>
    </tr>
  </table>
</form>
</script>
<script type="text/javascript" src="{% static 'js/views/deal_dashboard_index_view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/models/vendor_model.js' %}"></script>
<script type="text/javascript" src="{% static 'js/models/deal_model.js' %}"></script>
<script type="text/javascript" src="{% static 'js/collections/deal_collection.js' %}"></script>
<script type="text/javascript" src="{% static 'js/views/deal_row_view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/views/deal_list_view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/views/deal_create_view.js' %}"></script>
<script type="text/javascript" src="{% static 'js/routers/dashboard_router.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}
