boto==2.20.1
psycopg2==2.5.1
django==1.6.2
mailchimp==2.0.7
# due to http://stackoverflow.com/questions/2609259/converting-string-to-datetime-object-in-python
python-dateutil==2.2
Pillow==2.3.0
django-debug-toolbar==1.0.1
python-memcached==1.53
sorl-thumbnail==11.12
south==0.8.4
