html, body {
  background-color: #ecf0f1;
  font-family: 'Josefin Sans', sans-serif;
}

input[type="text"], input[type="email"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 10px;
}

/** LANDING PAGE CSS **/
#landing-page {
  width: 900px;
  margin: 0 auto;
}

#landing-page #left-col {
  float: left;
  position: relative;
  left: 30px;
}

#landing-page #right-col {
  position: relative;
  top: 80px;
  left: 80px;
  padding-right: 150px;
}

#landing-page #mce-EMAIL {
  font-size: 24px;
}

#landing-page h1 {
  font-size: 45px;
  color: #666;
  position: relative;
  left: 75px;
}

#landing-page h3 {
  text-align: center;
  position: relative;
  left: -40px;
}

#landing-page #logo-name {
  margin-bottom: 30px;
}
