html, body {
  font-family: 'Josefin Sans', sans-serif;
}

input[type="text"], input[type="email"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 10px;
}

/** LANDING PAGE CSS **/
#landing-page {
  width: 900px;
  margin: 0 auto 0 auto;
}

#landing-page #left-col {
  float: left;
  position: relative;
  left: 30px;
  top: 0px;
}

#landing-page #right-col {
  position: relative;
  top: 40px;
  left: 80px;
  padding-right: 150px;
}

#landing-page #form-container {
  position: relative;
  top: 105px;
}

#landing-page #form-container #email {
  position: relative;
  top: 3px;
  left: -100px;
  font-size: 24px;
  width: 400px;
}

#landing-page #form-container #submit-btn {
  position: relative;
  left: -95px;
}

#landing-page #restaurants {
  position: relative;
  top: 140px;
}

#landing-page h1 {
  font-size: 45px;
  color: #666;
  position: relative;
  left: 75px;
}

#landing-page h3 {
  text-align: center;
  position: relative;
  left: -40px;
}

#landing-page #logo-name {
  margin: 10px 0 20px 0;
}

#landing-page #restaurants h2 {
  position: relative;
  text-indent: -305px;
  text-align: center;
}


#landing-page #restaurants #login {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}

/** Base Template CSS **/
.navbar-default {
  background-color: #1abc9c;
}

.navbar .container {
  color: #FFF;
  font-size: 28px;
}

.navbar .container  #logo {
  background-image: url('../img/fluxy_logo_white_header.png');
  background-repeat: no-repeat;
  margin-top: 5px;
  min-height: 40px;
  min-width: 60px;
  position: fixed;
  text-indent: 9999px;
}

.navbar .container #page-title {
  position: relative;
  margin: 5px auto;
  text-align: center;
  width: 100%;
}

.navbar .container #account-links {
  position: relative;
  margin: 5px auto;
  margin-top: -45px;
  text-align: right;
  width: 100%;
  z-index: 1;
}

#content {
  margin-top: 15px;
}

/** Dashboard CSS **/
#content #dashboard input[type="text"], 
#content #dashboard textarea,
#content #dashboard select {
  margin: 5px;
}

#content #dashboard #launch-stats-container {
  min-height: 400px;
}

#content #dashboard #launch-stats-container
#launch-deal-container {
  float: left;
  width: 500px;
}

#content #dashboard #launch-stats-container
#daily-stats-container {
  float: right;
  font-size: 20px;
  width: 500px;
}

#content #dashboard #launch-stats-container
#daily-stats-container span {
  font-size: 40px;
  position: relative;
  top: 5px;
}
