{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="landing-page">
  <img src="{% static 'img/in_iPhone.png' %}" alt="iPhone Image" id="left-col" />
  <div id="right-col">
    <h1>Introducing</h1>
    <img src="{% static 'img/logo_name.png' %}" id="logo-name" alt="Fluxy" />
    <form action="#" method="POST">
      <input type="text" id="email-signup" name="email-signup" placeholder="Email here!">
      <button type="submit" id="email-signup-btn" class="btn btn-default btn-lg">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
