{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="landing-page">
  <img src="{% static 'img/in_iPhone.png' %}" alt="iPhone Image" id="left-col" />
  <div id="right-col">
    <h1>Introducing</h1>
    <img src="{% static 'img/logo_name.png' %}" id="logo-name" alt="Fluxy" />


    <!-- Begin MailChimp Signup Form -->
      <form
        action="http://fluxyapp.us3.list-manage.com/subscribe/post?u=779f2961fe7e7aaacfdd3a7e9&amp;id=56437bae31"
        method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <input type="email" value="" name="EMAIL" class="required email"
        id="mce-EMAIL" placeholder="Email">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe"
        class="btn btn-default btn-lg">
        <div id="mce-responses">
          <div class="response" id="mce-error-response"
            style="display:none"></div>
          <div class="response" id="mce-success-response"
            style="display:none"></div>
          </div>
          Subscribe</button>
          <!-- real people should not fill this in
          and expect good things - do not remove this or risk
          form bot signups-->

        <div style="position: absolute; left:
          -5000px;"><input type="text"
          name="b_779f2961fe7e7aaacfdd3a7e9_56437bae31"
          value=""></div>
      </form>
    <!--End mc_embed_signup-->


  </div>
</div>

{% endblock %}
