{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="landing-page">
  <img src="{% static 'img/in_iPhone.png' %}" alt="iPhone Image" id="left-col" />
  <div id="right-col">
    <h1>Introducing</h1>
    <img src="{% static 'img/logo_name.png' %}" id="logo-name" alt="Fluxy" />

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if success %}
    <p><strong>Thanks for subscribing!</strong></p>
    {% endif %}
    <form action="subscribe" method="post">
      {% csrf_token %}
      <input name="email" type="email" class="required email"
      placeholder="Your email" />
      <button type="submit" class="btn btn-default btn-lg">Subscribe</button>
    </form>
  </div>
</div>

{% endblock %}
