{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{% static 'css/lib/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Facebook Conversion Code for Fluxy Registration -->
        <!-- DISCOVERY_V1 -->
        <script type="text/javascript">
        var fb_param = {};
        fb_param.pixel_id = '6012700285719';
        fb_param.value = '0.01';
        fb_param.currency = 'USD';
        (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
        })();
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012700285719&amp;value=0.01&amp;currency=USD" /></noscript>

        <!-- DISCOVERY_V2 -->
        <script type="text/javascript">
        var fb_param = {};
        fb_param.pixel_id = '6012317026702';

        fb_param.value = '0.01';
        fb_param.currency = 'USD';
        (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
        })();
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012317026702&amp;value=0.01&amp;currency=USD" /></noscript>

    </head>
    <body>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
        <script type="text/javascript" src="{% static 'js/lib/jquery-2.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/underscore-1.6.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/backbone-1.1.2.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js'%}"></script>
        {% block scripts %}{% endblock %}

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48371840-1', 'fluxyapp.com');
          ga('send', 'pageview');
        </script>
    </body>
</html>
