{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="left-navbar-container"></div>
    <div id="dashboard-container"></div>
    <div id="modal-container"></div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/lib/jqueryui.min.js' %}"></script>

  <script type="text/javascript">
    var vendorId = {{ vendor_id }};
  </script>

  <script type="text/template" id="left-navbar-template">
      <li class="list-group-item selected" id="nav-create">
        <a href="#">
          <h3 class="list-group-item-heading">Create</h3>
          <p class="list-group-item-text">Schedule a new deal</p>
        </a>
      </li>
      <li class="list-group-item" id="nav-revive">
        <a href="#">
          <h3 class="list-group-item-heading">Revive</h3>
          <p class="list-group-item-text">Reschedule an expired deal</p>
        </a>
      </li>
      <li class="list-group-item" id="nav-review">
        <a href="#">
          <h3 class="list-group-item-heading">Review</h3>
          <p class="list-group-item-text">Edit scheduled deals</p>
        </a>
      </li>
      <li class="list-group-item" id="nav-active">
        <a href="#">
          <h3 class="list-group-item-heading">Fluxy Live</h3>
          <p class="list-group-item-text">Monitor active deals</p>
        </a>
      </li>
  </script>

  <script type="text/template" id="main-content-template">
    <div id="dashboard"></div>
  </script>

  <script type="text/template" id="deal-template">
    <td><%= title  %></td>
    <td><%= desc  %></td>
    <td><%= time_start  %></td>
    <td><%= time_end  %></td>
  </script>

  <script type="text/template" id="deals-collection-template">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </script>

  <script type="text/template" id="deal-create-form-template">
    <form action="#" method="GET" id="deal-form" class="form-horizontal" role="form">
      <div class="form-area">
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-6">
            <input name="deal-title" id="deal-title" type="text" class="form-control" placeholder="40% off all non-alcoholic drinks">
          </div>
          <p class="help-block col-sm-offset-2 col-sm-6">A short, to-the-point description of the deal. This will be displayed as-is to users, so pay attention to capitalization, punctuation, etc.</p>
        </div>
      </div>
      <div class="form-area">
        <div class="form-group">
          <label for="start-month" class="col-sm-2 control-label">Start date</label>
          <div class="col-sm-3 controls form-inline">
            <select id="start-day" class="form-control" name="start-day">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="start-hours" class="col-sm-2 control-label">Start time</label>
          <div class="controls form-inline col-sm-4">
            <select id="start-hours" class="form-control" name="start-hours">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>:
            <select id="start-minutes" class="form-control" name="start-minutes">
              <option value="0">00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
            <select id="start-am-pm" class="form-control" name="start-am-pm">
              <option value="pm">PM</option>
              <option value="am">AM</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="duration-hours" class="col-sm-2 control-label">Duration</label>
          <div class="col-sm-4 controls form-inline">
            <select id="duration-hours" class="form-control" name="duration-hours">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select> H
            <select id="duration-minutes" class="form-control" name="duration-minutes">
              <option>00</option>
              <option>15</option>
              <option>30</option>
              <option>45</option>
            </select> M
          </div>
          <p class="help-block col-sm-offset-2 col-sm-6">While this deal is active, it will be listed on our mobile app and users can claim it. Customers will be instructed to show the deal to your waitstaff or cashier to apply the deal.</p>
        </div>
      </div>
      <div class="form-area">
        <div class="form-group">
          <label class="col-sm-2 control-label">Is the deal for sit-down service?</label>
          <div id="sit-down" class="col-sm-4 controls">
            <label class="radio-inline">
              <input type="radio" name="sit-down" value="y"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="sit-down" value="n"> No
            </label>
          </div>
        </div>
        <div class="form-group">
          <p class="help-block col-sm-offset-2 col-sm-6" id="grace-period-help">
            For sit-down meals, according to our policies, <strong>customers may apply a previously claimed deal up to 2 hours after the deal ends</strong>, so plan accordingly. (During this period, no new deals can be claimed.) This policy allows your customers to enjoy their meals and apply the deal after eating.
          </p>
        </div>
      </div>
      <div class="form-area">
        <div class="form-group">
          <label class="col-sm-2 control-label">Do you want to limit the total number of deals that can be claimed?</label>
          <div id="max-deals" class="col-sm-4">
            <label class="radio-inline">
              <input type="radio" name="limit" value="limited"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="limit" value="unlimited"> No
            </label>
          </div>
        </div>
        <div class="form-group" id="max-deals-group">
          <label for="max-deals-number" class="col-sm-2 control-label">Maximum number of deals</label>
          <div class="col-sm-2">
            <input id="max-deals-number" class="form-control" name="max-deals" type="text" size="3" placeholder="Unlimited" disabled>
          </div>
        </div>
      </div>
      <div class="form-area">
        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">Extra information (optional)</label>
          <div class="col-sm-6">
            <textarea name="desc" class="form-control" rows="3" placeholder="While you're here, try our specialty salad!"></textarea>
          </div>
          <p class="help-block col-sm-offset-2 col-sm-6">
            Feel free to include anything you want your customers to know before they claim the deal. Take note: we already show users your address, website, phone number, and Yelp page.
          </p>
        </div>
      </div>
      <div class="form-area">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
          <button type="submit" id="submit-btn" class="btn btn-default">Schedule</button>
          </div>
        </div>
      </div>
    </form>
  </script>

  <script type="text/template" id="modal-controller-template">
    <div class="modal fade" id="create-deal-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirm your deal!</h4>
          </div>
          <div class="modal-body">
            <table>
              <tr id="title">
                <td>Title:</td>
                <td></td>
              </tr>
              <tr id="description">
                <td>Description:</td>
                <td></td>
              </tr>
              <tr id="duration">
                <td>Duration:</td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="cancel-btn">Cancel</button>
            <button type="button" class="btn btn-primary" id="create-btn">Create Deal</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block css %} 
  <link rel="stylesheet" href="{% static 'css/lib/jqueryui.min.css' %}">
{% endblock %}
